<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
            ; window.setInterval((async () => {
                const response = await axios({
                    url: 'http://localhost:8081/current',
                    method: 'get'
                })
                console.log(response.data)
                document.getElementById("data").innerHTML = response.data;
            }), 500);
    </script>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1 id="data">00.00</h1>
            <p>Aktualnie zmierzona temperatura</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>